.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 1.25rem;
}

.sidebar .logo {
  height: 2rem;
  width: 2rem;
}

.sidebar .new-tweet {
  background-color: var(--twitter-blue);
  border: 0;
  border-radius: 9999px;
  color: #fff;
  display: flex;
  font-size: 1.25rem;
  font-weight: 900;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.sidebar .new-tweet:hover {
  filter: brightness(0.9);
}

.main-navigation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-navigation a {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  gap: 1.25rem;
  text-decoration: none;
}

.main-navigation a.active {
  color: var(--twitter-blue);
}

.main-navigation a svg {
  height: 2rem;
  width: 2rem;
}
