* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --twitter-blue: #1da1f2;
}

body {
  color: #0f1419;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font: 400 1rem Roboto, sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

/* Page: Timeline */

.layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin: 0 auto;
  max-width: 1000px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 1.25rem;
}

.sidebar .logo {
  height: 2rem;
  width: 2rem;
}

.sidebar .new-tweet {
  background-color: var(--twitter-blue);
  border: 0;
  border-radius: 9999px;
  color: #fff;
  display: flex;
  font-size: 1.25rem;
  font-weight: 900;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.sidebar .new-tweet:hover {
  filter: brightness(0.9);
}

.main-navigation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-navigation a {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  gap: 1.25rem;
  text-decoration: none;
}

.main-navigation a.active {
  color: var(--twitter-blue);
}

.main-navigation a svg {
  height: 2rem;
  width: 2rem;
}

.content {
  border-left: 1px solid #ebeef0;
  border-right: 1px solid #ebeef0;
}

.timeline-header {
  align-items: center;
  border-bottom: 1px solid #ebeef0;
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  justify-content: space-between;
  padding: 1.5rem 1.25rem;
}

.timeline-header svg {
  color: var(--twitter-blue);
  height: 1.5rem;
  width: 1.5rem;
}

.new-tweet-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 1.25rem;
}

.new-tweet-form label {
  display: flex;
  gap: 0.75rem;
}

.new-tweet-form label img {
  border-radius: 9999px;
  height: 3rem;
  width: 3rem;
}

.new-tweet-form label textarea {
  border: 0;
  flex: 1;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.75rem;
  resize: none;
}

.new-tweet-form label textarea:focus {
  outline: none;
}

.new-tweet-form label textarea::placeholder {
  color: #5b7083;
}

.new-tweet-form button[type='submit'] {
  background-color: var(--twitter-blue);
  border: 0;
  border-radius: 9999px;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  margin-left: auto;
  padding: 0.75rem 1.5rem;
}

.new-tweet-form button[type='submit']:hover {
  filter: brightness(0.9);
}

.separator {
  background-color: #f7f9fa;
  border-bottom: 1px solid #ebeef0;
  border-top: 1px solid #ebeef0;
  height: 0.75rem;
}
